*{
    font-family: "Roboto";
}
nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 2px;  
    position: relative;
    padding-right: 0.1rem;
    margin-right: 50px;
}
input {
    width: 165px;
}
textarea {
    width: 220px;
    height: 100px;
}
footer{
    margin: auto;
    width: 50%;
    text-align: center;
}