* {
  font-family: "Roboto";
}
nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 2px;
  position: relative;
  padding-right: 0.1rem;
  margin-right: 50px;
}
input {
  width: 165px;
}
section {
  width: 700px;
}
section div {
  width: 400px;
  height: auto;
}
section div h1 {
  text-align: center;
}
textarea {
  width: 220px;
  height: 100px;
}
section aside {
  position: absolute;
  left: 1000px;
  top: 68px;
  margin-left: 60px;
  border-bottom: thin solid black;
  border-left: thin solid black;
  border-top: thin solid black;
  border-right: thin solid black;
}
section aside div {
  margin-left: 27.5px;
  margin-right: 22px;
}
footer {
  margin: auto;
  width: 50%;
  text-align: center;
}
